.buy_game {
    display: flex;
    justify-content: space-between;
    row-gap: 60px;
    flex-wrap: wrap;

    width: 90%;
    margin: 120px auto 0;
}

.buy_game-image {
    width: 40%;
}

.buy_game-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    -moz-box-shadow:0 0 60px rgba(200, 200, 200, 0.5);
    -webkit-box-shadow:0 0 60px rgba(200, 200, 200, 0.5);
    box-shadow:0 0 60px rgba(200, 200, 200, 0.5);
}

.buy_game-text {
    width: 55%;
    text-align: right;
    font-size: 28px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
}

.buy_game-text-bold {
    font-weight: 700;
}

.buy_game-text-bottom {
    margin-top: auto;
}

.buy_game-text > h2 {
    font-size: 40px;
}

.buy_game-text-main {
    margin-top: 30px;
}

.buy_game-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
}

.buy_game-buttons-tg, .buy_game-buttons-avito {
    width: 280px;
    font-size: 24px;
}


@media (max-width: 1160px) {
    .buy_game-text {
        font-size: 24px;
    }
}

@media (max-width: 1000px){
    .buy_game-text > h2 {
        font-size: 34px;
    }

    .buy_game-text {
        font-size: 20px;
    }

    .buy_game-buttons-tg, .buy_game-buttons-avito {
        width: 250px;
        font-size: 22px;
        padding: 14px 42px;
    }

}


@media (max-width: 900px) {
    .buy_game {
        margin-top: 80px;
    }
}

@media (max-width: 860px){
    .buy_game-text > h2 {
        font-size: 4.2vw;
    }

    .buy_game-text-main {
        margin-top: 20px;
    }

    .buy_game-text {
        font-size: 17px;
    }
}

@media (max-width: 720px) {

    .buy_game-text-main {
        margin-top: 15px;
    }

    .buy_game-text {
        font-size: 15px;
    }

    .buy_game-buttons {
        padding: 0;
    }

    .buy_game-buttons-tg, .buy_game-buttons-avito {
        width: 230px;
        font-size: 20px;
        padding: 13px 39px;
    }
}

@media (max-width: 640px) {
    .buy_game-text-main {
        margin-top: 13px;
    }

    .buy_game-text {
        font-size: 13px;
    }

    .buy_game-buttons-tg, .buy_game-buttons-avito {
        width: 220px;
        font-size: 18px;
        padding: 11px 36px;
    }
}

@media (max-width: 540px) {
    .buy_game-text-main {
        margin-top: 11px;
    }

    .buy_game-text {
        font-size: 11px;
    }

    .buy_game-buttons-tg, .buy_game-buttons-avito {
        width: 210px;
        font-size: 16px;
        padding: 10px 33px;
    }
}

@media (max-width: 500px) {
    .buy_game {
        margin-top: 40px;
    }

    .buy_game-image {
        width: 35%;
    }
    .buy_game-text {
        width: 63%;
    }

    .buy_game-buttons {
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
    }

    .buy_game-buttons-tg, .buy_game-buttons-avito {
        margin: 0 auto;
        width: 200px;
        font-size: 14px;
        padding: 9px 30px;
    }

    .buy_game {
        row-gap: 30px;
    }
}

@media (max-width: 460px) {
    .buy_game-text-main, .buy_game-text-bottom{
        margin-top: 7px;
    }
}