.button {
    border: 3px solid var(--color-white);
    border-radius: 50px;
    color: var(--color-white);
    background-color: var(--color-dark-shadow);
    padding: 1rem 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    font-size: 1.2rem;
}

.button:hover {
    color: var(--color-dark);
    background-color: var(--color-white);
    border-color: var(--color-dark);

    -moz-box-shadow:0 0 30px var(--color-gray-shadow);
    -webkit-box-shadow:0 0 30px var(--color-gray-shadow);
    box-shadow:0 0 30px var(--color-gray-shadow);
}

.section {
    margin: 0 auto 8rem;
    width: 90%;
}

.hand {
    position: absolute;
    aspect-ratio: auto;
    height: 7rem;
}

.common-header {
    font-weight: 700;
    font-size: 2rem;
}

.common-text {
    font-size: 1.2rem;
}