@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: 'Cormorant Unicase';
    src: url("../fonts/CormorantUnicase-Regular.ttf");
  }
  
  @font-face {
    font-weight: 700; /* Соответствует значению bold */
    font-family: 'Cormorant Unicase';
    src: url("../fonts/CormorantUnicase-Bold.ttf");
  }
  
  @font-face {
    font-weight: 300;
    font-family: 'Cormorant Unicase';
    src: url("../fonts/CormorantUnicase-Light.ttf");
  }



/* ------- Нормализация стилей - начало ------- */

/* ... */

/* ------- Нормализация стилей - конец ------- */

.wrapper {
    max-width: 1200px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
    padding: 0 20px; /* Немного отступов по бокам для мобильных */
}

@media (min-width: 1600px) {
    .wrapper {
        max-width: 1400px; /* Можно увеличить для ультрашироких экранов */
    }
}


/* Глобальные css-переменные: */
:root {
    --color-dark: #1F2322;
    --color-white: #ffffff;
    --color-gray: #808080;

    --main-banner-opacity: 72%;
    --upper-button-opacity: 78%;
    --button-radius: 50%;

    --сormorant-font: 'Cormorant Unicase', sans-serif;

    --container-width: 1260px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: var(--сormorant-font), sans-serif; 
}

html { scroll-behavior: smooth; }

body {
    background-color: var(--color-dark);
}
