#traces{
    display: flex;
    display: -webkit-flex;

    position: relative;
    text-align: center;

    align-items: center;
    -webkit-align-items: center;

    justify-content: center;
    -webkit-justify-content: center;

    gap: 0px;
    margin-top: 50px;
}

.traces-img{
    max-height: 215px;
    max-width: 49%;
}


#second-trace-img{
    right: 300px;
}

@media (min-width: 1315px) {
    .traces-img{
        max-height: 300px;
        max-width: 49%;
    }
}

@media (max-width: 500px) {
    #traces {
        margin-top: 30px; 
    }
}

