.when {
    margin-top: 8rem;
}

.when-header {
    display: flex;
    align-items: center;
    gap: 3%;
}

.when-header-line {
    background-color: #fff;
    height: 1px;
    flex-grow: 1;
    min-width: 15%;
}

.when-header-text {
    text-align: center;
}

.when-block{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 4rem;
}

.when-block-description {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    width: 70%;
}

.when-block-description-header {
    font-weight: 700;
}

.when-block-description-text {

}

.when-block-description-link {
    width: 18rem;
}

.curtains {
    position: absolute;
    z-index: 1;
    height: 18rem;
}

#right-curtain{
    right: 0px;
}

@media (max-width: 500px) {
    .when-block-description {
        width: 55%;
    }
}