#when {
    margin-top: 120px;
}

#when-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

#when-text > h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 10px;
}

.line3{
    background-color: #fff;
    height: 2px;
    width: 10%;
    flex-grow: 1;
}




#when-block{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 80px;
}

.curtains{
    position: absolute;
    z-index: 1;
}

#right-curtain{
    right: 0px;
}




#when-description{
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    width: 70%;
}

#when-description > p, #when-description > h3{
    font-size: 24px;
    text-align: center;
}

#telegram{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    height: 65px;
    border: 3px solid white;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 24px;
    background-color: rgba(31, 35, 34, 0.7);
    /* margin-top: 30px; */
    letter-spacing: 5px;
    font-weight: 700;
}

#telegram:hover {
    border: 3px solid black;
    color: black;
    background-color: white;

    -moz-box-shadow:0 0 30px rgba(200, 200, 200, 0.5);
    -webkit-box-shadow:0 0 30px rgba(200, 200, 200, 0.5);
    box-shadow:0 0 30px rgba(200, 200, 200, 0.5);
}


@media (max-width: 990px){
    #when-text > h2{
        font-size: 34px;
    }

    #when-description > p, #when-description > h3{
        font-size: 20px;
    }

    #telegram{
        min-width: 350px;
        height: 60px;
        font-size: 22px;
    }
}



@media (max-width: 930px) {
    #when-text > h2{
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    #when{
        margin-top: 80px;
    }
}



@media (max-width: 860px){
    #when-text > h2{
        font-size: 4.2vw;
    }

    #when-description > p, #when-description > h3{
        font-size: 17px;
    }

    #telegram{
        min-width: 300px;
        height: 55px;
        font-size: 20px;
    }

    #when-block{
        margin-top: 60px;
    }
}



@media (max-width: 768px) {

    #when-description {
        width: 60%;
    }

    #telegram{
        min-width: 250px;
        height: 50px;
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    #when {
        margin-top: 40px;
    }


    #when-description > p, #when-description > h3{
        font-size: 14px;
    }

    #telegram{
        min-width: 220px;
        height: 40px;
        font-size: 16px;
    }

    #right-curtain, #left-curtain {
        height: 200px;
    }

    #when-block {
        margin-top: 40px;
    }
}

@media (max-width: 460px) {
    #when-description {
        gap: 25px;
    }
    #telegram{
        min-width: 200px;
        font-size: 14px;
    }

    #when-description > p, #when-description > h3{
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    #when-description {
        gap: 20px;
    }
    #telegram{
        font-size: 12px;
    }

    #when-description > p, #when-description > h3{
        font-size: 11px;
    }
}